::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 168, 243);
}

button {
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
  box-shadow: 3px 5px 8px rgb(207, 51, 103);
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #fa8072;
  width: 640px;
  height: 640px;
  border: solid #383130; 
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;

}


.cell {
  /* default cell size that can be overriden by JS if a different option is chosen */
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(79, 193, 64);
  border: 0.5 px rgb(245, 155, 155) solid;

}

.cell:hover {
  background-color: #1e1f19;
}
