@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Lobster", cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 152, 200);
}

#header {
  font-size: xxx-large;
  color: rgb(16, 20, 24);
  text-shadow: 0 0 4px #a2aef5, 0 0 6px #e479ce;
}

#instructions {
  font-size: larger;
}

#container {
  border-radius: 5%;
  background-color: #000;
}

button {
  border-radius: 3%;
  font-family: "Lobster", cursive;
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
  box-shadow: 3px 5px 8px rgb(61, 58, 59);
}

button:hover {
  background-color: rgb(48, 29, 47);
  color: rgb(255, 255, 255);
}

#grid {
  padding: 0.75em;
  border-radius: 1%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #84eba3;
  width: 640px;
  height: 640px;
  border: solid #248140;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cell {
  border-radius: 13%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: #4fc140;
  border: 0.01rem #176541 solid;
  box-shadow: 1px 3px 5px #2c30a4;
}

#footer {
  margin-top: 2em;
  font-size: large;
  pad: 1em;
}

@media screen and (max-width: 426px) {
  #grid {
    width: 350px;
    height: 800px;
  }
}

@media screen and (max-width: 376px) {
  #grid {
    width: 300px;
    height: 850px;
  }

  button {
    margin: 2px;
  }
} ;
