::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 208, 245);
}

button {
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
  box-shadow: 3px 5px 8px rgb(207, 51, 103);
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #84eba3;
  width: 640px;
  height: 640px;
  border: solid #248140;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cell {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(79, 193, 64);
  border: 0.01rem rgb(23, 101, 65) solid;
}

.cell:hover {
  background-color: #1e1f19;
}
